@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}
